@model IEnumerable<Common.MenuItem>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<select class="form-control">
    @foreach (var item in Model)
    {
        <option value="@item.Text">@item.Text</option>

    }

</select>

